.Zgodne {
    border-left: 10px solid #029603;
    padding-top: 50px;
}

.Wstrzymane {
    border-left: 10px solid #f1d80a;
}

.Niedopuszczone {
    border-left: 10px solid #c30c0c;
    background-color: rgba(248, 0, 0, 0.1);
}

tr {
    padding: 80px;
}
