*, *::before, *::after {
  margin: 0;
  padding: 0;
}

.wrapper {
  border-top: 1px solid #C6C6C6;
  padding-top: 6px;
  width: 75vw;
  margin: 28px auto 0 auto;
}

@media (max-width: 1400px) {
  .wrapper {
    width: 95vw;
  }
}

