*, *::before, *::after {
  margin: 0;
  padding: 0;
}

@keyframes shadow {
  0% {box-shadow: none}
  100% {box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);}
}

.wrapper {
  background-color: #ECEEF8;
  width: 75vw;
  margin: 2rem auto 0 auto;
  border-radius: 20px;
  padding: .8rem 0;
  display: flex;
  justify-content: space-evenly;

  .box {
    font-size: 14px;
    width: 12%;
    border: 1px solid #4865C5;
    border-radius: 10px;
    text-transform: uppercase;
  }

  select {
    background-color: #ECEEF8;
    padding-left: 5px;
    color: rgba(72, 101, 197, 1);
    letter-spacing: 1px;
    font-weight: bold;

    option {
      text-transform: none;
    }
  }

  .boxSmall {
    font-size: 14px;
    width: 6%;
    border: 1px solid #4865C5;
    border-radius: 10px;
    text-transform: uppercase;
  }

  input {
    background-color: #ECEEF8;
    padding: 6px 10px;
    text-align: right;
    font-weight: bold;
    color: rgba(72, 101, 197, 1);
    letter-spacing: 1px;

    &::placeholder {
      font-size: 14px;
      text-align: right;
      color: rgba(72, 101, 197, 0.5);
      font-weight: normal;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: #4865C5;
    cursor: pointer;

    &:hover {
      animation: shadow .2s forwards;
    }
  }
}
